* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #004182;
	font-family: Verdana, Arial, Geneva;
}


.cuerpo {
	background-color: #FFF;
	
	width: 800px;
	min-height: 500px;
	margin-top: 10px;
}


.cuerpo h1 {
	background-color: #007AF4;
	color: #FFF;
	font-size: 24px;
	font-weight: 100;
}

.cuerpo h2 {
	background-color: #007AF4;
	color: #FFF;
	font-size: 18px;
	font-weight: 100;
}

.cuerpo label {
	font-size: 12px;
	font-weight: 100;
}

.edt_c, .edt_m {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #AEAEAE;
}

.edt_c {
	width: 150px;
}

.edt_m {
	width: 250px;
}

.boton {
	padding: 4px 10px 2px 10px;
	color: #252525;
	border: 1px solid #AEAEAE;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.boton:hover {
	background-color: #CAE4FF;
}

.form {
	background-color: #0080FF;
	padding: 30px 10px 30px 10px;
	width: 600px;

}


.msj-ok, .msj-alert, .msj-error {
	font-size: 12px;
	text-align: left;
	width: 400px;
	padding: 15px;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: 5px center;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.msj-ok {
	border: 1px solid #008000;
	background-image: url('../images/ok-icon.png');
}

.msj-alert {
	border: 1px solid #D96C00;
	background-image: url('../images/alert-icon.png');
}

.msj-error {
	border: 1px solid #FF0000;
	background-image: url('../images/error-icon.png');
}
