* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #1F1F1F;
	font-family: Verdana, Arial, Geneva;
}

h1, h2, h3 {
	padding: 0.5em;
}


h1 {
	background-image: url('../images/2x2_grid_icon.png');
	text-align: left;
	padding-left: 54px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

a {
	text-decoration: None;
	color: #00509F;
}

a:hover {
	color: #FB5200;
}

p, a {
	font-size: 12px;
}

.cuerpo {
	background-color: #FFF;
	font-size: 12px;
	text-align: left;
	width: 770px;
	min-height: 500px;
	margin-top: 10px;
	padding: 15px;
	
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(border-radius.htc);
}


.cuerpo h1 {
	background-color: #B6B6B6;
	color: #2A2A2A;
	font-size: 28px;
	font-weight: 100;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	border-bottom: 2px solid #3C3C3C;
}

.cuerpo h2 {
	background-color: #EAEAEA;
	color: #484848;
	font-size: 20px;
	font-weight: 100;
	margin-left: 50px;
	margin-right: 50px;
}

.cuerpo label {
	font-size: 12px;
	font-weight: 100;
}

.cuerpo p {
	margin-left: 30px;
	margin-right: 30px;
}


/******************** Formulario *********************/

.edt, .edt_c, .edt_m, .edt_g, .edt_mc {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #AEAEAE;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.edt_mc {
	width: 100px;
}

.edt_c {
	width: 150px;
}

.edt_m {
	width: 250px;
}

.form {
	background-color: #D0CCD2;
	padding: 30px 10px 30px 10px;
	width: 600px;

}


/******************** Ventana *********************/
.window {
    font-family: Verdana;
    font-size: 12px;
    background-color: #E1E1E1;
    border: 1px solid #C5C5C5;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior:url(border-radius.htc);

    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;

    display: block;
}

.window h3 {
	background-color: #1D1D1D;
	color: #FFF;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	margin: 0px;
	padding: 5px;
	margin-bottom: 10px;
}

.window label {
    font-size: 11px;
    text-align: left; 
}

/********************* Mensajes *******************/
.msj-ok, .msj-alert, .msj-error {
	font-size: 12px;
	text-align: left;
	width: 400px;
	padding: 15px;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: 5px center;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.msj-ok {
	border: 1px solid #008000;
	background-image: url('../images/ok-icon.png');
}

.msj-alert {
	border: 1px solid #D96C00;
	background-image: url('../images/alert-icon.png');
}

.msj-error {
	border: 1px solid #FF0000;
	background-image: url('../images/error-icon.png');
}

/****************** Contenedor Menu ***************/
.menu-cont {
	margin-left: 15%;
}

ul#menu-horizontal li {
	float: left;
	display: inline;
	position: relative;
}

ul#menu-horizontal ul {
	display: none;
	position: absolute;
	top: 24px;
	left:0;
	margin:0;
	padding:0;
	background:#FFFFFF;
}

ul#menu-horizontal ul li {
	display: block !important;
}

ul#menu-horizontal li:hover ul{
	display: none;
}

ul#menu-horizontal li:hover ul{
	display: block;
}

#menu-horizontal {
	margin: 0 auto;
}

#menu-horizontal li {
	margin:0 1px;
	width:130px;
	text-align:center;
	background:#0E68A5;
	list-style:none;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFF;
	
	background: rgb(91,91,91); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(91,91,91,1) 0%, rgba(22,22,22,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(91,91,91,1)), color-stop(99%,rgba(22,22,22,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(91,91,91,1) 0%,rgba(22,22,22,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(91,91,91,1) 0%,rgba(22,22,22,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(91,91,91,1) 0%,rgba(22,22,22,1) 99%); /* IE10+ */
	background: linear-gradient(top, rgba(91,91,91,1) 0%,rgba(22,22,22,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
}

#menu-horizontal li a {
	color:#FFF;
	text-decoration:none;
}


#menu-horizontal li ul li{
	float:none;
	width:125px;
	padding-left: 7px;
	margin:1px 0;
	text-align: left;	
}

#menu-horizontal li ul li:hover {
	border-left: 4px solid #FF0000; 
	padding-left: 4px;
}

#menu-horizontal li ul li a{
	font-size: 11px;
}

/******************* estilo Boton *****************/
.boton{
    background-image: url('../images/botom_a.png');
    color: #333;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #AAA;

    -webkit-text-shadow: 1px 1px 5px #858585;
    -moz-text-shadow: 1px 1px 5px #858585;
    text-shadow: 1px 1px 5px #858585;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 1px 1px 5px #858585;
    -moz-box-shadow: 1px 1px 5px #858585;
    box-shadow: 1px 1px 5px #858585;

}

.boton:hover {
   background-image: url('../images/botom_h.png');

    -webkit-box-shadow: -1px -1px 5px #858585;
    -moz-box-shadow: -1px -1px 5px #858585;
    box-shadow: -1px -1px 5px #858585;
}

.boton img{
    margin: 0px;
}


/**************************************************/

.tbl-list {
	border-collapse: collapse;
}

.tbl-list th {
	background-color: #1E1E1E;
	color: #EBEBEB;
	font-size: 13px;
	text-align:left;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 6px;
	font-weight: bold;
	border:1px solid #757575;
}

.tbl-list .tbl-iten {
	background-color: #005F8C;
	color: #EBEBEB;
	font-size: 13px;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	padding-left: 6px;
	font-weight: bold;
	border:1px solid #757575;
}

.tbl-list td {
	padding:2px 7px 1px 7px;
	border:1px solid #757575;
	background-color: #FFFFD9;
	font-size: 11px;
}
